[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent

# IDE0005: Using-Direktive ist unnötig.
dotnet_diagnostic.IDE0005.severity = none
